# fly.toml app configuration file generated for guess-the-word-qu4vnq on 2025-12-19T21:07:55Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'guess-the-word-qu4vnq'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
